.App {
  text-align: center;
}

.contentWidth{
  max-width: 1024px;
  width: 1024px;
  margin: 0 auto;
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#4c4c4c;
}

.App-link {
  color: #61dafb;
}

